<!-- /templates/customers/activate_account.liquid -->
{% form 'activate_customer_password' %}
    {{ form.errors | default_errors }}
    <div class="password">
        <label for="password">Password</label>
        <input name="customer[password]" type="password"/>
    </div>
    <div class="password_confirm">
        <label for="password_confirmation">Password Confirmation</label>
        <input name="customer[password_confirmation]" type="password"/>
    </div>
    <div class="action_bottom">
        <input type="submit" value="Activate Account"/>
        <span>or</span>
        <input name="decline" type="submit" value="Decline Invitation"/>
    </div>
{% endform %}

<div class="flex justify-center items-center self-center">
    <div class="p-12 bg-white mx-auto rounded-2xl w-100 ">
        <div class="mb-4">
            <h3 class="font-semibold text-2xl text-gray-800">Activate Account
            </h3>
        </div>
        {% form 'activate_customer_password' %}
            <div class="space-y-5">
                {% render 'form-error', form:form %}
                <div class="space-y-2">
                    <label class="text-sm font-medium text-gray-700 tracking-wide">Password</label>
                    <input class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" name="customer[password]" placeholder="Enter your password" type="password">
                </div>
                <div class="space-y-2">
                    <label class="mb-5 text-sm font-medium text-gray-700 tracking-wide">
                        Confirm Password
                    </label>
                    <input class="w-full content-center text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" name="customer[password_confirmation]" placeholder="Enter your password" type="password">
                </div>
                <div class="flex">
                    <button class="w-full flex justify-center bg-green-400  hover:bg-green-500 text-gray-100 p-3  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500 mr-3" type="submit">
                        Activate Account
                    </button>
                    <button class="w-full flex justify-center bg-gray-400  hover:bg-gray-500 text-gray-100 p-3  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500" type="submit" name="decline">
                        Decline Invitation
                    </button>
                </div>
            </div>
        {% endform %}
    </div>
</div>