<!-- /templates/customers/reset_password.liquid -->

<div class="mt-10 mx-auto container px-20 w-full lg:w-2/5">
    {% form 'reset_customer_password' %}
        <div class="space-y-5">
            {% render 'form-error', form:form %}
            <div class="space-y-2">
                <label class="text-sm font-medium text-gray-700 tracking-wide">Password</label>
                <input class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" name="customer[password]" size="16" type="password">
            </div>

                        <div class="space-y-2">
                <label class="text-sm font-medium text-gray-700 tracking-wide">Confirm Password</label>
                <input class=" w-full text-base px-4 py-2 border  border-gray-300 rounded-lg focus:outline-none focus:border-green-400" name="customer[password_confirmation]" size="16" type="password">
            </div>

            <div>
                <button class="w-full flex justify-center bg-green-400  hover:bg-green-500 text-gray-100 p-3  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500" type="submit">
                    Reset Password
                </button>
            </div>
        </div>
    {% endform %}
</div>
